<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LimeSurveyWebhook</name>
        <type>plugin</type>
        <creationDate>2016-01-01</creationDate>
        <lastUpdate>2025-05-03</lastUpdate>
        <author>Stefan Verweij, IrishWolf, Alex Righetto, Tom Riat</author>
        <version>2.2.0</version>
        <lastSecurityUpdate>2.2.0</lastSecurityUpdate>
        <license>GPL-3.0-or-later</license>
        <description>Webhook for LimeSurvey - Sends JSON POST request with survey responses after completion</description>
    </metadata>
    <compatibility>
        <version>6</version>
    </compatibility>
    <updaters disabled="disabled">
    </updaters>
</config>
